$red: hsl(5, 65%, 51%);
$bg-gray: #1f1f20;
$main-text: #fff;
$gray-details: #4D4D4F;
$gray-text: #CBCACA;
$padding: 0 3em;
$font-archivo: 'Archivo Black', sans-serif;
$font-oswald: 'Oswald', sans-serif;
$btn-padding: 1em 2em;
$btn-margin: 1em 0;